Pandas Data Frame
"A dictionary and numpy 2D array had a baby"

1. Construction & Deconstruction
2. Retrieving values
3. modifying values
4. methods for data analysis
5. data alignment

In [1]:
import pandas as pd
#2D list of numpy array

index = ['20201201','20201202','20201203','20201204']
columns = ['AAPL','MSFT','GOOG','AMZN']

data = [[-0.01,0.03,0.05],[0.015,0.005,-0.05,-0.0025],[-0.025,0.0015,-0.02,0.01],[-0.03,0.015,0.03,0.01]]
df = pd.DataFrame(data,index = index,columns = columns)
df

           AAPL    MSFT  GOOG    AMZN
20201201 -0.010  0.0300  0.05     NaN
20201202  0.015  0.0050 -0.05 -0.0025
20201203 -0.025  0.0015 -0.02  0.0100
20201204 -0.030  0.0150  0.03  0.0100

In [2]:
#Dictionary of equal length lists of Numpy arrays

data = {'AAPL': [0.01,0.02,0.03,0.04],
        'MSFT': [0.01,0.02,0.03,0.04],
        'GOOG': [0.01,0.02,0.03,0.04],
        'AMZN': [0.01,0.02,0.03,0.04]}

index=['20201201','20201202','20201203','20201204']
df=pd.DataFrame(data, index = index)
df

          AAPL  MSFT  GOOG  AMZN
20201201  0.01  0.01  0.01  0.01
20201202  0.02  0.02  0.02  0.02
20201203  0.03  0.03  0.03  0.03
20201204  0.04  0.04  0.04  0.04

In [3]:
#Dictionary of Series
index=['20201201','20201202','20201203','20201204']

data = {}
data['AAPL'] = pd.Series([0.01,0.02,0.03,0.04], index=index)
data['MSFT'] = pd.Series([0.01,0.02,0.03,0.04], index=index)
data['GOOG'] = pd.Series([0.01,0.02,0.03,0.04], index=index)
data['AMZN'] = pd.Series([0.01,0.02,0.03,0.04], index=index)

df=pd.DataFrame(data)
df

          AAPL  MSFT  GOOG  AMZN
20201201  0.01  0.01  0.01  0.01
20201202  0.02  0.02  0.02  0.02
20201203  0.03  0.03  0.03  0.03
20201204  0.04  0.04  0.04  0.04

In [4]:
#incrementally adding columns
index = ['20201201','20201202','20201203','20201204']
df = pd.DataFrame()

df['AAPL'] = pd.Series([0.01,0.02,0.03,0.04], index=index)
df['MSFT'] = pd.Series([0.01,0.02,0.03,0.04], index=index)
df['GOOG'] = pd.Series([0.01,0.02,0.03,0.04], index=index)
df['AMZN'] = pd.Series([0.01,0.02,0.03,0.04], index=index)
df

          AAPL  MSFT  GOOG  AMZN
20201201  0.01  0.01  0.01  0.01
20201202  0.02  0.02  0.02  0.02
20201203  0.03  0.03  0.03  0.03
20201204  0.04  0.04  0.04  0.04

In [5]:
#DataFrame Deconstruction
#get data
df.values

array([[0.01, 0.01, 0.01, 0.01],
       [0.02, 0.02, 0.02, 0.02],
       [0.03, 0.03, 0.03, 0.03],
       [0.04, 0.04, 0.04, 0.04]])

In [6]:
#get columns
df.columns

Index(['AAPL', 'MSFT', 'GOOG', 'AMZN'], dtype='object')

In [9]:
#get rows
df.index

Index(['20201201', '20201202', '20201203', '20201204'], dtype='object')

Data Frame retrieval

In [10]:
#Grab a column -> return Series Object
df['AAPL']

20201201    0.01
20201202    0.02
20201203    0.03
20201204    0.04
Name: AAPL, dtype: float64

In [11]:
#Grab a row -> return a Series Object
df.loc['20201201']

AAPL    0.01
MSFT    0.01
GOOG    0.01
AMZN    0.01
Name: 20201201, dtype: float64

In [14]:
#Once u have a series, u can use regular series indexing
#grab AAPL price on 20201201

print(df['AAPL']['20201201'])
print(df.loc['20201201']['AAPL'])

0.01
0.01

In [18]:
#better way to retrieve APPL price on 20201201 similar to numpy 2D array
df.loc['20201201','AAPL']

np.float64(0.01)

In [21]:
#subset the dataframe using loc
df.loc[['20201201','20201202'],['AAPL','MSFT']]

          AAPL  MSFT
20201201  0.01  0.01
20201202  0.02  0.02

In [25]:
#can use slicing within loc
df.loc['20201201':'20201203','AAPL']

20201201    0.01
20201202    0.02
20201203    0.03
Name: AAPL, dtype: float64

In [26]:
#can use boolean logic within loc
df.loc[df['AAPL']>0, ['AAPL','MSFT']]

          AAPL  MSFT
20201201  0.01  0.01
20201202  0.02  0.02
20201203  0.03  0.03
20201204  0.04  0.04

In [27]:
df.loc[:,df.loc['20201201']>0]

          AAPL  MSFT  GOOG  AMZN
20201201  0.01  0.01  0.01  0.01
20201202  0.02  0.02  0.02  0.02
20201203  0.03  0.03  0.03  0.03
20201204  0.04  0.04  0.04  0.04

In [28]:
df[df['AAPL']<0]

Empty DataFrame
Columns: [AAPL, MSFT, GOOG, AMZN]
Index: []

In [29]:
df[df<0]

          AAPL  MSFT  GOOG  AMZN
20201201   NaN   NaN   NaN   NaN
20201202   NaN   NaN   NaN   NaN
20201203   NaN   NaN   NaN   NaN
20201204   NaN   NaN   NaN   NaN

DataFrame Value Modification

In [31]:
#change an entry
df.loc['20201201','AAPL']=0.09
df

          AAPL  MSFT  GOOG  AMZN
20201201  0.09  0.01  0.01  0.01
20201202  0.02  0.02  0.02  0.02
20201203  0.03  0.03  0.03  0.03
20201204  0.04  0.04  0.04  0.04

In [33]:
#set entire column to scalar
df['AAPL']=0
df

          AAPL  MSFT  GOOG  AMZN
20201201     0  0.01  0.01  0.01
20201202     0  0.02  0.02  0.02
20201203     0  0.03  0.03  0.03
20201204     0  0.04  0.04  0.04

In [35]:
#boolean indexing to set values
df.loc[df['AAPL']<0, 'AAPL']=0
df

          AAPL  MSFT  GOOG  AMZN
20201201     0  0.01  0.01  0.01
20201202     0  0.02  0.02  0.02
20201203     0  0.03  0.03  0.03
20201204     0  0.04  0.04  0.04

In [38]:
#boolean indexing to set values
df[df<0]
df

          AAPL  MSFT  GOOG  AMZN
20201201     0  0.01  0.01  0.01
20201202     0  0.02  0.02  0.02
20201203     0  0.03  0.03  0.03
20201204     0  0.04  0.04  0.04

In [39]:
#set column using list(of same size as column)
df['AAPL']=[0.08,-0.08,0.9,0.07]
df

          AAPL  MSFT  GOOG  AMZN
20201201  0.08  0.01  0.01  0.01
20201202 -0.08  0.02  0.02  0.02
20201203  0.90  0.03  0.03  0.03
20201204  0.07  0.04  0.04  0.04

In [40]:
#set column using series will automatically aligns indices doesnot need to be of same size
aapl = pd.Series({'20201204':0.09,'20201201': 0.09,'20201202':0.04})
aapl

20201204    0.09
20201201    0.09
20201202    0.04
dtype: float64

In [41]:
df['AAPL'] = aapl
aapl

20201204    0.09
20201201    0.09
20201202    0.04
dtype: float64

In [43]:
#select a row
df.loc['20201204']=[0.03,0.07,0.09,0.08]
df

          AAPL  MSFT  GOOG  AMZN
20201201  0.09  0.01  0.01  0.01
20201202  0.04  0.02  0.02  0.02
20201203   NaN  0.03  0.03  0.03
20201204  0.03  0.07  0.09  0.08

In [44]:
#set a subset of a df
df.loc[['20201202','20201203'],['AAPL','MSFT']]

          AAPL  MSFT
20201202  0.04  0.02
20201203   NaN  0.03

In [46]:
df.loc[['20201202','20201203'],['AAPL','MSFT']] = [[0.09,0.08],[0.02,0.03]]
df

          AAPL  MSFT  GOOG  AMZN
20201201  0.09  0.01  0.01  0.01
20201202  0.09  0.08  0.02  0.02
20201203  0.02  0.03  0.03  0.03
20201204  0.03  0.07  0.09  0.08

In [47]:
#create a new column
df['XOM']=[0.01,0.05,-0.05,0.025]
df

          AAPL  MSFT  GOOG  AMZN    XOM
20201201  0.09  0.01  0.01  0.01  0.010
20201202  0.09  0.08  0.02  0.02  0.050
20201203  0.02  0.03  0.03  0.03 -0.050
20201204  0.03  0.07  0.09  0.08  0.025