DataFrame Methods for Data Analysis

1. Arithmetic & Boolean Operations with scalars operates element-wise
2. Numpy universal functions operate element-wise as they do with arrays
3. DataFrame applymap & apply any arbitrary function to a DataFrame
4. DataFrames have many built-in methods similar to numpy arrays
5. Correlation/Covariance

In [1]:
import pandas as pd
#2D list of numpy array

index = ['20201201','20201202','20201203','20201204']
columns = ['AAPL','MSFT','GOOG','AMZN']

data = [[-0.01,0.03,0.05],[0.015,0.005,-0.05,-0.0025],[-0.025,0.0015,-0.02,0.01],[-0.03,0.015,0.03,0.01]]
df = pd.DataFrame(data,index = index,columns = columns)
df

           AAPL    MSFT  GOOG    AMZN
20201201 -0.010  0.0300  0.05     NaN
20201202  0.015  0.0050 -0.05 -0.0025
20201203 -0.025  0.0015 -0.02  0.0100
20201204 -0.030  0.0150  0.03  0.0100

Arithmetic & Boolean operations

In [2]:
#Subtract Market Returns
mkt_ret = 0.05
df-mkt_ret

           AAPL    MSFT  GOOG    AMZN
20201201 -0.060 -0.0200  0.00     NaN
20201202 -0.035 -0.0450 -0.10 -0.0525
20201203 -0.075 -0.0485 -0.07 -0.0400
20201204 -0.080 -0.0350 -0.02 -0.0400

In [3]:
#bolean logic operates element-wise
df>0

           AAPL  MSFT   GOOG   AMZN
20201201  False  True   True  False
20201202   True  True  False  False
20201203  False  True  False   True
20201204  False  True   True   True

Numpy ufuncs operate element-wise as they do with arrays

In [5]:
#Many NumPy functions work as expected elementwise
import numpy as np
np.abs(df)

           AAPL    MSFT  GOOG    AMZN
20201201  0.010  0.0300  0.05     NaN
20201202  0.015  0.0050  0.05  0.0025
20201203  0.025  0.0015  0.02  0.0100
20201204  0.030  0.0150  0.03  0.0100

DataFrame applymap & apply- apply any function to a DataFrame

In [6]:
def thresh(x):
    if np.abs(x) > 0.06:
        return x
    else:
        return 0
df.applymap(thresh)

C:\Users\vansh\AppData\Local\Temp\ipykernel_21348\1382568260.py:6: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(thresh)

          AAPL  MSFT  GOOG  AMZN
20201201     0     0     0     0
20201202     0     0     0     0
20201203     0     0     0     0
20201204     0     0     0     0

In [7]:
def max_minus_min(ser):
    return ser.max()-ser.min()
max_minus_min(df['AAPL'])

np.float64(0.045)

In [9]:
df.apply(max_minus_min) #applied to each column

AAPL    0.0450
MSFT    0.0285
GOOG    0.1000
AMZN    0.0125
dtype: float64

In [10]:
df.apply(max_minus_min, axis=1) #applied to each row

20201201    0.060
20201202    0.065
20201203    0.035
20201204    0.060
dtype: float64

In [11]:
def min_and_max(ser):
    return pd.Series([ser.min(),ser.max()], index=['min','max']) #apply min and max to each column and o/p
df.apply(min_and_max) #apply each function to row and column of min_and_max

      AAPL    MSFT  GOOG    AMZN
min -0.030  0.0015 -0.05 -0.0025
max  0.015  0.0300  0.05  0.0100

DataFrames have many built in methods similar to numpy arrays

In [12]:
#average return for each stock
df.mean()

AAPL   -0.012500
MSFT    0.012875
GOOG    0.002500
AMZN    0.005833
dtype: float64

In [13]:
#average return for each time
df.mean(axis=1)

20201201    0.023333
20201202   -0.008125
20201203   -0.008375
20201204    0.006250
dtype: float64

In [14]:
#if you don't want to use built-in methods : we've this big clunky code
avg={}
for x in df.index:
    tot=0
    for y in df.columns:
        tot+=df.loc[x,y]
    avg=pd.Series(avg)
    avg

In [15]:
df.rank()

          AAPL  MSFT  GOOG  AMZN
20201201   3.0   4.0   4.0   NaN
20201202   4.0   2.0   1.0   1.0
20201203   2.0   1.0   2.0   2.5
20201204   1.0   3.0   3.0   2.5

In [16]:
df.cumsum()

           AAPL    MSFT  GOOG    AMZN
20201201 -0.010  0.0300  0.05     NaN
20201202  0.005  0.0350  0.00 -0.0025
20201203 -0.020  0.0365 -0.02  0.0075
20201204 -0.050  0.0515  0.01  0.0175

In [18]:
#Describe function
df.describe()

           AAPL      MSFT      GOOG      AMZN
count  4.000000  4.000000  4.000000  3.000000
mean  -0.012500  0.012875  0.002500  0.005833
std    0.020207  0.012770  0.045735  0.007217
min   -0.030000  0.001500 -0.050000 -0.002500
25%   -0.026250  0.004125 -0.027500  0.003750
50%   -0.017500  0.010000  0.005000  0.010000
75%   -0.003750  0.018750  0.035000  0.010000
max    0.015000  0.030000  0.050000  0.010000

Corelation/Covariance

In [20]:
#Correlation
df.corr()

          AAPL      MSFT      GOOG      AMZN
AAPL  1.000000 -0.088811 -0.550041 -0.994850
MSFT -0.088811  1.000000  0.879688  0.267828
GOOG -0.550041  0.879688  1.000000  0.785714
AMZN -0.994850  0.267828  0.785714  1.000000

In [21]:
#Covariance
df.cov()

          AAPL      MSFT      GOOG      AMZN
AAPL  0.000408 -0.000023 -0.000508 -0.000177
MSFT -0.000023  0.000163  0.000514  0.000014
GOOG -0.000508  0.000514  0.002092  0.000229
AMZN -0.000177  0.000014  0.000229  0.000052

In [22]:
mkt_ret = pd.Series([0.01,0.02,0.03,0.04],index=['20201201','20201202','20201203','20201204'])
df.corrwith(mkt_ret)

AAPL   -0.638877
MSFT   -0.490331
GOOG   -0.084684
AMZN    0.866025
dtype: float64