Reading & Writing Data
1. Write/Read CSV
2. Write/Read Excel
3. Write/read pickle files

In [2]:
import pandas as pd

index = ['20201201','20201202','20201203','20201204']
columns = ['AAPL','MSFT','GOOG','AMZN']

data = [[-0.01,0.03,0.05,0.005],
        [0.015,0.005,-0.05,-0.0025],
        [-0.025,0.0015,-0.03,0.01],
        [-0.03,0.015,-0.03,0.01]]

df = pd.DataFrame(data,index = index,columns = columns)
df

           AAPL    MSFT  GOOG    AMZN
20201201 -0.010  0.0300  0.05  0.0050
20201202  0.015  0.0050 -0.05 -0.0025
20201203 -0.025  0.0015 -0.03  0.0100
20201204 -0.030  0.0150 -0.03  0.0100

In [3]:
df.to_csv('df_example.csv',index_label='Date')

In [4]:
from_csv = pd.read_csv('df_example.csv')
from_csv

       Date   AAPL    MSFT  GOOG    AMZN
0  20201201 -0.010  0.0300  0.05  0.0050
1  20201202  0.015  0.0050 -0.05 -0.0025
2  20201203 -0.025  0.0015 -0.03  0.0100
3  20201204 -0.030  0.0150 -0.03  0.0100

In [5]:
from_csv.set_index('Date')

           AAPL    MSFT  GOOG    AMZN
Date
20201201 -0.010  0.0300  0.05  0.0050
20201202  0.015  0.0050 -0.05 -0.0025
20201203 -0.025  0.0015 -0.03  0.0100
20201204 -0.030  0.0150 -0.03  0.0100

In [7]:
df.to_pickle('df_example.pkl')

In [9]:
pd.read_pickle('df_example.pkl')

           AAPL    MSFT  GOOG    AMZN
20201201 -0.010  0.0300  0.05  0.0050
20201202  0.015  0.0050 -0.05 -0.0025
20201203 -0.025  0.0015 -0.03  0.0100
20201204 -0.030  0.0150 -0.03  0.0100