ReIndexing
1.Series
2.DataFrame

In [1]:
import pandas as pd

#series reindexing
ser=pd.Series({'AAPL':-0.01, 'MSFT':-0.02,'TSLA':0.015})
ser

AAPL   -0.010
MSFT   -0.020
TSLA    0.015
dtype: float64

In [2]:
#re-order existing index and add new ticker
ser.reindex(['TSLA','MSFT','AAPL'])

TSLA    0.015
MSFT   -0.020
AAPL   -0.010
dtype: float64

In [ ]:
# standard series retrieval doesnot let you pass new items
ser[['TSLA','LULU','AAPL','MSFT']]

In [5]:
#However, you can re-order existing entries using standard series retrieval
ser[['TSLA','AAPL','MSFT']]

TSLA    0.015
AAPL   -0.010
MSFT   -0.020
dtype: float64

In [6]:
#If you want to exclude entries, use drop
ser.drop('TSLA')

AAPL   -0.01
MSFT   -0.02
dtype: float64

In [7]:
#DataFrame Reindexing
data = {'AAPL':[-0.01,0.015,-0.025,-0.03],
        'MSFT':[-0.03,0.005,-0.0015,0.015],
        'TSLA':[0.05,-0.05,-0.3,0.02]}

index = ['20201201','20201202','20201203','20201204']
df=pd.DataFrame(data,index=index)
df

           AAPL    MSFT  TSLA
20201201 -0.010 -0.0300  0.05
20201202  0.015  0.0050 -0.05
20201203 -0.025 -0.0015 -0.30
20201204 -0.030  0.0150  0.02

In [8]:
new_index = ['20201205','20201206','20201207','20201208']
df.reindex(new_index)

          AAPL  MSFT  TSLA
20201205   NaN   NaN   NaN
20201206   NaN   NaN   NaN
20201207   NaN   NaN   NaN
20201208   NaN   NaN   NaN

In [9]:
new_columns=['TSLA','LULU','AAPL','MSFT']
df.reindex(new_index, columns=new_columns)

          TSLA  LULU  AAPL  MSFT
20201205   NaN   NaN   NaN   NaN
20201206   NaN   NaN   NaN   NaN
20201207   NaN   NaN   NaN   NaN
20201208   NaN   NaN   NaN   NaN

In [ ]:
#loc only allows you to reindex with existing entries
df.loc[new_index,new_columns]

In [13]:
df.loc[['20201204','20201203','20201202','20201201'],['TSLA','AAPL','MSFT']]
df.reindex(new_index, columns=new_columns)

          TSLA  LULU  AAPL  MSFT
20201205   NaN   NaN   NaN   NaN
20201206   NaN   NaN   NaN   NaN
20201207   NaN   NaN   NaN   NaN
20201208   NaN   NaN   NaN   NaN

In [14]:
#Dropping
df.drop('20201204')

           AAPL    MSFT  TSLA
20201201 -0.010 -0.0300  0.05
20201202  0.015  0.0050 -0.05
20201203 -0.025 -0.0015 -0.30

In [15]:
df.drop('TSLA',axis=1)

           AAPL    MSFT
20201201 -0.010 -0.0300
20201202  0.015  0.0050
20201203 -0.025 -0.0015
20201204 -0.030  0.0150

Sorting
1. Series
2. DataFrame

In [16]:
#series sorting
ser=pd.Series([-0.01,0.02,-0.05,-0.02],index=['20201203','20201202','20201204','20201201'])
ser

20201203   -0.01
20201202    0.02
20201204   -0.05
20201201   -0.02
dtype: float64

In [17]:
ser.sort_index()

20201201   -0.02
20201202    0.02
20201203   -0.01
20201204   -0.05
dtype: float64

In [18]:
ser.sort_values()

20201204   -0.05
20201201   -0.02
20201203   -0.01
20201202    0.02
dtype: float64

In [19]:
#DataFrame Reindexing
data = {'AAPL':[-0.01,0.02,-0.05,-0.02],
        'MSFT':[-0.03,0.005,-0.0015,0.015],
        'TSLA':[0.05,-0.05,-0.3,0.02]}
index = ['20201203','20201202','20201204','20201201']
df=pd.DataFrame(data,index=index)
df

          AAPL    MSFT  TSLA
20201203 -0.01 -0.0300  0.05
20201202  0.02  0.0050 -0.05
20201204 -0.05 -0.0015 -0.30
20201201 -0.02  0.0150  0.02

In [20]:
df.sort_index()

          AAPL    MSFT  TSLA
20201201 -0.02  0.0150  0.02
20201202  0.02  0.0050 -0.05
20201203 -0.01 -0.0300  0.05
20201204 -0.05 -0.0015 -0.30

In [21]:
ser.sort_index()

20201201   -0.02
20201202    0.02
20201203   -0.01
20201204   -0.05
dtype: float64

In [22]:
ser.sort_index(ascending=False)

20201204   -0.05
20201203   -0.01
20201202    0.02
20201201   -0.02
dtype: float64

In [23]:
ser.sort_values()

20201204   -0.05
20201201   -0.02
20201203   -0.01
20201202    0.02
dtype: float64

In [24]:
#DataFrame Reindexing
data = {'AAPL':[-0.01,0.02,-0.05,-0.02],
        'MSFT':[-0.03,0.005,-0.0015,0.015],
        'TSLA':[0.05,-0.05,-0.3,0.02]}
index = ['20201203','20201202','20201204','20201201']
df=pd.DataFrame(data,index=index)
df

          AAPL    MSFT  TSLA
20201203 -0.01 -0.0300  0.05
20201202  0.02  0.0050 -0.05
20201204 -0.05 -0.0015 -0.30
20201201 -0.02  0.0150  0.02

In [25]:
df.sort_index()

          AAPL    MSFT  TSLA
20201201 -0.02  0.0150  0.02
20201202  0.02  0.0050 -0.05
20201203 -0.01 -0.0300  0.05
20201204 -0.05 -0.0015 -0.30

In [26]:
df.sort_index(axis=1)

          AAPL    MSFT  TSLA
20201203 -0.01 -0.0300  0.05
20201202  0.02  0.0050 -0.05
20201204 -0.05 -0.0015 -0.30
20201201 -0.02  0.0150  0.02

In [27]:
df.sort_values('AAPL')

          AAPL    MSFT  TSLA
20201204 -0.05 -0.0015 -0.30
20201201 -0.02  0.0150  0.02
20201203 -0.01 -0.0300  0.05
20201202  0.02  0.0050 -0.05

In [28]:
df.sort_index(axis=1,ascending=False)

          TSLA    MSFT  AAPL
20201203  0.05 -0.0300 -0.01
20201202 -0.05  0.0050  0.02
20201204 -0.30 -0.0015 -0.05
20201201  0.02  0.0150 -0.02