In [3]:
import pandas as pd
import numpy as np

dt = '20110107'
dt = pd.to_datetime(dt)
dt

Timestamp('2011-01-07 00:00:00')

In [4]:
pd.to_datetime('2011-01-07')

Timestamp('2011-01-07 00:00:00')

In [5]:
#get time fields
print(dt.year)
print(dt.month)
print(dt.day)
#maybe you care about price behavior on a particular hour, minute or second of the day?
print(dt.hour)
print(dt.minute)
print(dt.second)

2011
1
7
0
0
0

In [6]:
#useful for checking if weekend
dt.weekday()

4

In [7]:
# handles hours/minutes/seconds as well
pd.to_datetime('20110107  12:10:30')

Timestamp('2011-01-07 12:10:30')

In [9]:
#convert back to string
dt.strftime('%Y%m%d')

'20110107'

In [10]:
#can shift dates
dt + pd.tseries.offsets.Day()

Timestamp('2011-01-08 00:00:00')

In [11]:
#can shift by multiple time units
dt + pd.tseries.offsets.Day()

Timestamp('2011-01-08 00:00:00')

In [12]:
# shift only by business day(skip weekends)
dt + pd.tseries.offsets.BDay()

Timestamp('2011-01-10 00:00:00')

In [13]:
#roll forward / backword
print(pd.tseries.offsets.MonthEnd().rollforward(dt))
print(pd.tseries.offsets.MonthEnd().rollback(dt))

2011-01-31 00:00:00
2010-12-31 00:00:00

In [14]:
#subtract two times
#maybe for checking days till next earnings

dt1 = pd.to_datetime('20110101')
dt2 = pd.to_datetime('20120630')

diff = dt2 - dt1
diff

Timedelta('546 days 00:00:00')

In [15]:
diff.days

546

In [16]:
#faster way to create multiple timestamp objects. Useful for converting excel dates from strings to timestamps
date = ['20110102', '20110103', '20110105']
dt_index = pd.DatetimeIndex(date)
dt_index

DatetimeIndex(['2011-01-02', '2011-01-03', '2011-01-05'], dtype='datetime64[ns]', freq=None)

In [17]:
dt_index[0]

Timestamp('2011-01-02 00:00:00')

In [18]:
#get time range
days = pd.date_range(dt1,dt2, freq='D')

In [19]:
# can use strings as inputs and also monthly frequency
months = pd.date_range('20110101','20121231',freq='M')

C:\Users\vansh\AppData\Local\Temp\ipykernel_3424\3489374309.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  months = pd.date_range('20110101','20121231',freq='M')

In [20]:
#DataFrames with pandas datetime index
univ = ['SPY', 'TLT', 'VXX', 'QQQ']
days = pd.date_range('20190101','20210630', freq='min')
df = pd.DataFrame(np.random.randn(len(days), len(univ)), index=days, columns=univ)
df

                          SPY       TLT       VXX       QQQ
2019-01-01 00:00:00  1.335127  1.923201 -0.194784 -0.046646
2019-01-01 00:01:00  2.464517 -0.138832  0.438266 -1.491423
2019-01-01 00:02:00  0.281060  2.020120  1.596849  0.121366
2019-01-01 00:03:00 -0.420897  0.768468 -0.579175 -0.673029
2019-01-01 00:04:00 -1.429182  0.354764  1.055156 -0.215394
...                       ...       ...       ...       ...
2021-06-29 23:56:00 -0.590540 -1.581295  0.714806  0.339061
2021-06-29 23:57:00  0.450214  0.379810 -1.965671 -0.013561
2021-06-29 23:58:00  0.804565  1.828686  0.380865  0.262795
2021-06-29 23:59:00  0.750897  0.194549  0.485391 -0.464864
2021-06-30 00:00:00 -0.927473 -0.864370  0.295103  1.262059

[1311841 rows x 4 columns]

In [21]:
df.loc['2019-01-01  00:00:00']

SPY    1.335127
TLT    1.923201
VXX   -0.194784
QQQ   -0.046646
Name: 2019-01-01 00:00:00, dtype: float64

In [22]:
df.loc['2019-01-01']

                          SPY       TLT       VXX       QQQ
2019-01-01 00:00:00  1.335127  1.923201 -0.194784 -0.046646
2019-01-01 00:01:00  2.464517 -0.138832  0.438266 -1.491423
2019-01-01 00:02:00  0.281060  2.020120  1.596849  0.121366
2019-01-01 00:03:00 -0.420897  0.768468 -0.579175 -0.673029
2019-01-01 00:04:00 -1.429182  0.354764  1.055156 -0.215394
...                       ...       ...       ...       ...
2019-01-01 23:55:00  0.528729  0.069294  0.438672 -0.103752
2019-01-01 23:56:00  1.386553  0.659808  0.263697 -0.682362
2019-01-01 23:57:00 -0.029650  0.736601  0.014522 -1.050535
2019-01-01 23:58:00 -1.054997  0.327683 -0.834611 -0.006404
2019-01-01 23:59:00 -1.343156  0.524987  0.742551  3.531406

[1440 rows x 4 columns]

In [23]:
df.resample('M').sum()

C:\Users\vansh\AppData\Local\Temp\ipykernel_3424\2412811611.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df.resample('M').sum()

                   SPY         TLT         VXX         QQQ
2019-01-31 -107.993053 -434.035877 -353.967031  -41.579795
2019-02-28 -149.951361  355.121043   63.290478  348.015200
2019-03-31 -180.109541  102.962527  123.037583 -182.161901
2019-04-30 -215.796445  145.660687 -247.987642  -63.895568
2019-05-31 -195.423460 -144.394673  132.348341   73.334301
2019-06-30  199.195167  -44.196503  -50.373951  165.263958
2019-07-31   30.885569   80.959855 -405.767485 -114.158429
2019-08-31   46.648029  -36.863892 -141.303292  -81.161239
2019-09-30  264.223197   78.433378    9.088550  314.577956
2019-10-31  -54.116430   48.791386   82.454356  175.076325
2019-11-30 -201.905040 -273.542488  -96.828160   -9.896174
2019-12-31  -61.091485  194.518573  283.857539 -207.553403
2020-01-31   43.363307 -398.669573   40.229876 -107.112425
2020-02-29 -127.365152  157.276348  -39.851180  201.248789
2020-03-31 -129.308123   21.620809  -33.855395  -15.878213
2020-04-30  -55.679155  225.479794   26.327530 -495.282929
2020-05-31  446.328026  133.662765  481.274802  -72.923348
2020-06-30 -115.834029 -399.911931  320.856706  138.130030
2020-07-31  312.626085   48.804848  290.720464  102.726267
2020-08-31   14.969816   13.362106  135.548610  268.728983
2020-09-30  142.307100   96.351715 -188.700205  204.611427
2020-10-31  -88.995111   10.632098  390.937578   71.292231
2020-11-30  -91.861750 -453.995531 -229.277039   92.995418
2020-12-31   -1.756204  -36.072277  219.455946   66.889760
2021-01-31    0.899447  146.933404   78.712840 -103.760686
2021-02-28  -36.239553  391.337563 -408.573744 -184.647206
2021-03-31 -395.801737  -58.812275 -371.587499 -196.048460
2021-04-30   14.440072  -81.060806  258.751573 -286.878069
2021-05-31   19.186937  -50.256052  150.636434   62.723276
2021-06-30  128.008515 -103.209599  279.057299  -68.715092

In [24]:
#5 minutes high
df.resample('5min').max()

                          SPY       TLT       VXX       QQQ
2019-01-01 00:00:00  2.464517  2.020120  1.596849  0.121366
2019-01-01 00:05:00  1.031699  2.974756  1.597129  2.265044
2019-01-01 00:10:00  0.538665  1.534479  1.277173  1.202483
2019-01-01 00:15:00  0.822432  0.230302  1.966579  1.128960
2019-01-01 00:20:00 -0.106741  1.626884  0.792427  0.757400
...                       ...       ...       ...       ...
2021-06-29 23:40:00  2.020498  2.434305  1.714558  0.910743
2021-06-29 23:45:00  1.784942  1.807657  1.276803  0.950642
2021-06-29 23:50:00 -0.385912  1.351848  1.313781  0.974512
2021-06-29 23:55:00  0.804565  1.828686  0.714806  0.339061
2021-06-30 00:00:00 -0.927473 -0.864370  0.295103  1.262059

[262369 rows x 4 columns]

In [25]:
#close
df.resample('5min').last()

                          SPY       TLT       VXX       QQQ
2019-01-01 00:00:00 -1.429182  0.354764  1.055156 -0.215394
2019-01-01 00:05:00 -0.330667  0.722417  0.997601  0.727924
2019-01-01 00:10:00 -0.008116  1.534479  1.008629  1.202483
2019-01-01 00:15:00  0.347139 -0.248717 -0.319618  1.128960
2019-01-01 00:20:00 -0.106741  0.174162 -0.157360  0.650114
...                       ...       ...       ...       ...
2021-06-29 23:40:00  1.086720  0.257366 -0.369001  0.356162
2021-06-29 23:45:00 -0.343682  0.785044  0.103649 -0.597539
2021-06-29 23:50:00 -1.295771  0.213580 -1.942802 -0.048432
2021-06-29 23:55:00  0.750897  0.194549  0.485391 -0.464864
2021-06-30 00:00:00 -0.927473 -0.864370  0.295103  1.262059

[262369 rows x 4 columns]